<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Mad Libs</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Fill in the blanks for your trangle and we'll tell you the type!</h1>
    <form action='/shipping'>
      <div class='form-group'>
        <label for='a'>Side A</label>
        <input id='a' name='a' class='form-control' type='text'>
      </div>
      <div class='form-group'>
        <label for='b'>Side B</label>
        <input id='b' name='b' class='form-control' type='text'>
      </div>
      <div class='form-group'>
        <label for='c'>Side C</label>
        <input id='c' name='c' class='form-control' type='text'>
      </div>
      <button type='submit' class='btn'>Show me my costs</button>
    </form>
  </body>
</html>
